// @import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800");

// $body-font: "Montserrat", "sans-serif", "Helvetica", "sans-serif";
// $headers-font: "Montserrat", "serif", "Helvetica", "sans-serif";



@font-face {
    font-family: 'AdobeHebrew-Regular';
    src: font-url(asset-path("AdobeHebrew-Regular.otf")) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextCondensed';
    src: font-url(asset-path("AvenirNextCondensed.ttc")) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Charter';
    src: font-url(asset-path("Charter.ttc")) format('truetype');
    font-weight: normal;
    font-style: normal;
}

