.about-wrapper {
  background-color: #211C18;
  z-index: 9000;
  position: relative;
  opacity: 0.95;
  margin-top: 270px;
  width: 100%;
  display: flex;
  margin-bottom: 200px;
  padding-bottom: 50px;
}
.about-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  // position: relative;
  z-index: 10000;
  margin: 15px 55px;
  h4 {
    padding: 190px 50px 116px 5vw;
    color: white;
    width: 53vw;
    background-color: #39414B;
    opacity: 0.9;
    text-align: left;
    font-weight: lighter;
  }
  span {
    color: #ffec3b;
  }
}
.about-strip {
  width: 100%;
  z-index: 12000 !important;
  position: absolute;
  margin-top: 60px;
}
.about-us-circle-1 {
  z-index: 200000 !important;
  position: relative;
  margin-top: 38px;
  margin-right: 200px;
  width: 380px;
  p {
    position: absolute;
    left: 65px;
    top: 100px;
    width: 238px;
  }
}
.circle1 {
  width: 320px;
}
.real-estate-title {
  width: 250px;
}
.about-us-circle-2 {
  position: relative;
  width: 380px;
  p {
    position: absolute;
    width: 314px;
    left: 244px;
    bottom: 74px;
    text-align: center;
  }
}
.circle2 {
  width: 320px;
  z-index: 15000;
  margin-left: 240px;
}
.investment-title {
  width: 323px;
}

@media only screen and (min-width: 1574px) {
  .about-content h4 {
    padding-top: 245px;
  }
}
@media only screen and (max-width: 1586px) {
  .about-us-circle-1 {
    margin-right: 0;
    left: -50px;
  }
  .about-us-circle-2 {
    p {
      left: 55px;
    }
  }
  .circle2 {
    margin-left: 50px;
    margin-top: 23px;
  }
}









