.about-wrapper {
  background-color: #211C18;
  z-index: 9000;
  position: relative;
  opacity: 0.95;
  margin-top: 270px;
  width: 100%;
  display: flex;
}
.about-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  // position: relative;
  z-index: 10000;
  margin: 15px 55px;
  h4 {
    padding: 190px 50px 40px 5vw;
    color: white;
    width: 53vw;
    background-color: #39414B;
    opacity: 0.9;
    text-align: left;
    font-weight: lighter;
  }
  span {
    color: #ffec3b;
  }
}
.about-strip {
  width: 100%;
  z-index: 12000 !important;
  position: absolute;
  margin-top: 60px;
}
.about-us-circle-1 {
    z-index: 200000 !important;
    position: relative;
    margin-top: 38px;
  img {
    width: 320px;
    margin-right: 150px;
  }
  p {
    position: absolute;
    left: 118px;
    top: 100px;
    width: 172px;
  }
}
.about-us-circle-2 {
  position: relative;
  img {
    width: 320px;
    z-index: 15000;
    margin-left: 240px;
  }
  p {
    position: absolute;
    width: 172px;
    left: 309px;
    bottom: 122px;
    text-align: center;
  }
}
