.contact-wrapper {
  background-color: #211C18;
  z-index: 9000;
  position: relative;
  opacity: 0.95;
  margin-top: 270px;
  width: 100%;
  display: flex;
  z-index: 1000;
  flex-direction: column;
  margin-bottom: 200px;
  padding-bottom: 50px;
}
.contact-content {
  display: flex;
  align-items: left;
  justify-content: center;
  position: relative;
  z-index: 10000;
  margin: 32px 55px;
  padding: 190px 50px 40px 50px;
  background-color: #39414B;
  color: white;
  z-index: 2000;
}
.contact-strip {
  width: 100%;
  z-index: 15000;
  position: absolute;
  margin-top: 60px;
}
.contact-address {
  text-align: left;
}
.contact-details {
  margin: 12px 0 280px 250px;
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}
.globe {
  width: 40px;
  margin-right: 40px;
}
.phone {
  width: 40px;
  margin-right: 40px;
}
#map {
  height: 400px;
  width: 83vw;
  margin: auto;
  position: absolute;
  top: 447px;
  //top: -60px;
  z-index: 10000;
}
@media only screen and (max-width: 1230px) {
  .contact-details {
    margin: 12px 0 280px 70px;
  }
}
@media only screen and (max-width: 987px) {
  .contact-content {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }
  .contact-details {
    margin-left: 0;
  }
  #map {
    top: 566px;
  }
  .globe {
    width: 29px;
    margin-right: 18px;
  }
  .phone {
    width: 29px;
    margin-right: 18px;
  }
}
@media only screen and (max-width: 499px) {
  .contact-content {
    margin: 32px 15px;
    padding: 190px 15px 40px 15px;
  }
  .contact-details {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 489px) {
  .contact-content {
    h4, a {
      font-size: 18px;
    }
  }
}













