<%= render 'shared/navbar' %>
<div class="about-banner">
	<div class="about-wrapper">
		<%= image_tag "about_us_strip.png", class: "about-strip" %>
		<div class="about-content">
			<h4><strong>Aschenbrenner Group is an international private real estate and investment company founded by Klaus Aschenbrenner.</strong><br></br>
			We strive for excellence in everything we do and this is reflected in the long relationships we have with our clients. We are focussed on real estate and investment opportunities around Europe and
			the rest of the world, which benefit from our experience, expertise and broad range of resources.We tend to invest in areas in which we have deep experience: real estate and investment.
			<br></br>
			At Aschenbrenner, our mission simple: <strong>Our Clients are in the heart of our values.</strong>
			</h4>
	  	</div>
	  	<div class="about-us-circle-1">
	  		<%= image_tag "about_us_circle1.png" %>
	  		<p>Aschenbrenner Group operates globally and invests locally, europe and around the world.</p>
	  	</div>
	  	<div class="about-us-circle-2">
	  		<%= image_tag "about_us_circle2.png" %>
	  		<p>Aschenbrenner Group operates globally and invests locally, europe and around the world.</p>
	  	</div>
	</div>
</div>