<%= render 'shared/navbar' %>
<div class="about-banner">
	<div class="contact-wrapper">
		<%= image_tag "about_us_strip.png", class: "contact-strip" %>
		<div class="contact-content">
			<div class="contact-address">
				<h4><strong>Aschenbrenner Group Ltd<br></br>
				Level 1, Devonshire House<br>
				One Mayfair Place<br>
				Mayfair<br>
				London W1J 8AJ<br>
				United Kingdom</strong></h4>
			</div>
			<div class="contact-details">
				<p>info@aschenbrenner-group.com</p>
				<p>T + 44 (0) 207 268 4965</p>
			</div>
		</div>
	</div>
</div>