<div class="banner wrapper">
	<div class="banner-content">
	<%= image_tag "Aschenbrenner_logo_main.png", class: "landing-logo" %>
    <h4>Real Estate & Investment</h4>
  </div>
  <div class="faded-logo fadeIn hidden hidden-xs hidden-sm">
    <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504597182/Asset_9_1_aof9tg.png" %>
  </div>
	
	<div class="home-strip fadeIn hidden hidden-sm hidden-xs text-center">
		<h4 class="hidden">Real Estate & Investment</h4>
	</div>
</div>
