.banner {
  background-image: url('http://res.cloudinary.com/dqxvcdy6w/image/upload/v1507819853/Aschenbrenner_landing_kdriab.jpg');
  color: white;
  text-align: center;
  height: calc(100vh);
  width: 100%;
  background-size: cover !important;
  background-position: center;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 0;
}
.banner-content {
  color: white;
  text-align: center;
  height: calc(100vh);
  width: 100%;
  background-size: cover !important;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 9000;
  h4 {
    font-style: italic;
    margin-top: 10px;
    font-weight: normal;
    font-size: 26px;
    margin-bottom: 100px;
  }
  span {
    color: #ffec3b;
  }
}
.landing-logo {
  width: 100%;
}
.landing-strapline {
  width: 30%;
  margin-right: 20px;
  margin-bottom: 150px;
}
@media only screen and (max-width: 462px) {
  .main-logo {
    width: 300px;
  }
}
.about-banner {
  background-image: url('http://res.cloudinary.com/dqxvcdy6w/image/upload/v1507893146/ABOUT_vxy8nw.jpg
');
  color: white;
  text-align: center;
  width: 100%;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 0;
}
.about-strip {
  width: 100%;
}







